* {margin:0; padding:0;}
body {
	background:#de4222;
    font-family:'Trocchi', georgia, times, serif;
	}
#wrapper {
	width: 100%; margin:0 auto; overflow:hidden; border: 1px solid;
	}

nav {
    box-sizing: border-box;
    width: 98%;
    background: #ffc736;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
	}
nav li {
    list-style-type: none;
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
}
a:link {
    color: black;
}
a:hover {
    color: #de4222;
}
a:active {
    color: #de4222;
}
.heading {
    width: 100%;
    display: table;
}
article {
    display: table-cell;
    width: 30%;
    float: left;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
}
aside {
    display: table-cell;
    width: 60%;
    float: right;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
}
aside h1 {
    font-family: 'Rakkas';
    font-size: 3.5em;
    color: #ffc736
}
.mainbody {
    width: 100%;
}
section {
    width: 95%;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
}
h2 {
    text-decoration: underline;
    text-align: center;
    padding: 10px;
}
section h3 {
    padding: 20px 0 0 0;
}
video {
    margin: 0 50px 50px 50px;
}
section img {
    float: left;
    margin: 20px 20px 0 20px;
}
.specialtext {
    margin: 10px;
    padding: 10px;
}
h2 {
    text-align: center
}
table {
    font-family: 'Trocchi', georgia, times, serif;
    margin: 10px;
    width: 98%;
    border: 2px solid black;
    border-radius: 10px;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
ol {
    width: 95%;
    margin: 10px 20px 20px 50px;;
    
}
footer {
    clear: both;
    text-align: center;
    font-style: italic;
    border: 2px solid black;
    color: black;
    padding: 10px;
    margin: 10px;
    background: #ffc736;
    border-radius: 10px;
}

@media only screen and (max-width: 1050px) {
    
    body {
        margin: 0 8px 20px;
    }
    
    #wrapper {
        width: 98%;
    }

    h1 {
        font-size: 2em;
        display: block;
        width: 100%;
        text-align: right;
        padding: 10px;
    }
    nav {
        display: block;
        width: 97.3%;
    }
    .mainbody {
        width: 95%;
    }
    article {
        display: block;
        padding: 10px;
        width: 98.5%;
    }
    aside {
        display: block;
        padding: 10px;
        width: 98.5%;
    }
    table {
        display: block;
        width: 95%;
    }
    footer {
        display: block;
        width: 96.5%;
    }
}
